* {
  padding: 0;
  margin: 0;
}
header {
  background-color: #231c1a;
  height: 80px;
  width: 100%;
  position: relative;
}
h1 {
  color: white;
  position: absolute;
  left: 120px;
  top: 0;
  line-height: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
header p {
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 80px;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
main li {
  display: inline;
  margin-right: 4vw;
}
p1 {
  color: red;
}
p2 {
  color: black;
}
.tagline {
  background-color: antiquewhite;
  color: black;
  height: 5vh;
}
